/* Colours */

html{
	background: white;
	background-image: url("http://jisc.cetis.ac.uk/common/images/orangestrip.png");
	background-repeat: repeat-y;
}

/* Typography */


body{
	font-family: "HelveticaNeue-light", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 13px;

}


h1,h2,h3,h4,h5,h6{color: #3b1604;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
		text-align:left;
}

h1,h2 {
	font-family: Arial, Sans-serif;;
	margin-bottom: 30px;
	letter-spacing: 0em;
	font-style: italic;
}

h1 {
	margin:0 0 10px 0;
	padding: 0;
	font-size:2em;
}

h2 {
	margin:0 0 10px 0;
	padding:0;
	font-size:1.6em;
}

h4,h5 {
	margin: 0;
	padding: 0;
	
}

h3{	
	
	/* font-family: Georgia, Times, Serif; */
	margin-bottom: 30px;
	letter-spacing: 0em;
	font-style: italic;
	margin:0 0 10px 0;
	padding:0;
	font-size:1.5em;
	margin-bottom:3px;
}




h4,h5,h6{
	font-size:1.2em;
	margin-bottom:3px;
}


.description{
	font-size: 14px;
	line-height: 20px;
}

/* Link style */

a{
	text-decoration:none;
	font-weight:bold;
	color: #991426;
}

a:hover{
	color: #EC7B36;
}


/* Main layout elements */


html{
	margin: 0;
	padding: 0;
}

body
{
	margin-right: 30px;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding:0px;

}

p{
margin-top:0;
margin-bottom:15px;
}

form {
	display:inline;
}

#orangestrip{
	/*	This sits in the top-left corner and contains the white bobble design 
		It should be aligned with the main JISC CETIS logo */
		
	position: absolute;
	left: -40px;
	top: -10px;
	background-color: #EC7B36;
	background-image: url("http://jisc.cetis.ac.uk/common/images/orangebobbles.png");
	width: 15px;
	height: 71px;
	background-repeat: no-repeat;
}

/* HEADER STYLES */

#header{
	margin-bottom:30px;
	height:90px;
}


.search-form{
	font-size:30px;
}

.search-box{
	border:1px #888 solid;
	background-color: #f4f4f4;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	
}

.bigbrowse{
text-align:center;	
}
.bigsearch{
text-align:center;
}

.bigsearch input{
	font-size:24px;
	text-align:center;
}

h1, h2, h3, h4, h5, h6{
	padding: 0px;
	margin: 0px;
}

h1{
	margin-bottom:30px;
}

h2, h3{
	margin-bottom:5px;
	margin-top: 3px;
}

h4{
	margin-bottom: 5px;
}


.strapline{
	margin-bottom:20px;
	font-weight:bold;
}

h1 a,h1 a:hover{
	color:black;
}




/* MAIN STRUCTURAL BITS */
#main{
	display:block;
	position:relative;
	/*border: 1px #00ff00 solid;*/
	
}


#left-column
{
	position: absolute;
	left: 0px;
	padding-bottom: 30px;
	/*border: 1px #00ffff solid;*/
	right:370px;
	display: block;
	overflow:hidden;
}

#right-column{
	position:absolute;
	width:350px;
	right:0px;
	padding-bottom:30px;
/*	border: 1px #ff00ff solid;*/
}

#header #navigation{
	position:absolute;
	right:10px;
	top:10px;
	text-align:right;
	background-color: rgba(255,255,255,0.6);;

	/*border:1px #EC7B36 solid;*/
	padding:2px;
}
#header #navigation, #header #navigation input{
	font-size:9px;
}

#header #banner
{
	position: absolute;
	right: 0px;
	top: 0px;
	left: 220px;
	height: 80px;
	clip: auto;
}

#banner img{
	width:100%;
	height:80px;
}

#prod-navigation{
	float:right;
	text-align:right;
	margin-top:-10px;
}

.tabs, .tabs ul{
	list-style: none;
	display:block;
	text-align:right;
	margin:0;
	padding:0;
}

.tabs li, .button 
{   
  list-style: none inside none;  
  padding: 0px;  
}


.tabs li, .button{
	list-style: none;
	
	width:auto;
	margin:0px;
	padding:2px;
	background-color:#FFE6C9;
	border: 1px #EC7B36 solid;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:10px;
	display:-moz-inline-box;
	margin-bottom:3px;
  	display:-moz-inline-box; 
 	display:inline-block;
 	-moz-box-orient:vertical;  
     vertical-align:top; 
     word-wrap:break-word; 
}

 
              


.tabs li img, .button img{
	vertical-align:-1px;
}

.active{
	background-color:#f5f5f5;
}

.small-button{
	list-style: none;
	display:inline-block;
	width:auto;
	margin:0px;
	padding:2px;
	background-color:#FFE6C9;
	border: 1px #EC7B36 solid;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:-moz-inline-box;
	font-size: 0px;

}

.tabs a{
	display:inline;
}


.browser, .browser ul{

	list-style: none;
	display:block;
	margin:0;
	padding:0;
	
/*	-webkit-column-count:4;
	-moz-column-count:4;
	column-count:4;
	
	-webkit-column-rule:1px dotted #aaa;
	-moz-column-rule:1px dotted #aaa;
	column-rule:1px dotted #aaa;
	
	-webkit-column-gap:2em;
	-moz-column-gap:2em;
	column-gap:2em;
	*/
	
}

.browser li{
	list-style: none;
	display:inline-block;
	width:auto;
	margin:3px;
	margin-bottom:5px;
	padding:5px;


	font-size:1.4em;
}

.browser li, x:-moz-any-link {
	display:-moz-inline-box;
}

.feeds{
	float:right;
	width:auto;
	font-size: 9px;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border-color:#ccc;
	border-style:solid;
	border-width:1px;
	
	background-color: #f3f3f3;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:10px;
	padding:5px;

}


.page-controls
{
	font-size: 10px;
	float: right;
	margin-top: 0px;
	font-weight: bold;
}

.logospace-left
{
	font-size: 10px;
	float: left;
	margin-top: -30px;
	font-weight: bold;
}

.logospace-right
{
	font-size: 10px;
	float: right;
	margin-top: -30px;
	font-weight: bold;
}

.control-button
{
	border: 1px #00f solid;
	padding: 2px;
	text-decoration: none;
	margin:2px;
	font-size: 10px;
	font-weight: bold;
	background: #fff;
}

.banner{
	margin-left:10px;
	margin-bottom: 0px;
	padding:0px;
}

.section{
	border: 1px #aae solid;
	
	margin: 0px;
	margin-bottom: 10px;
	
	padding: 5px;
	
	background: #ffffff;
	color: #000000;
	vertical-align: top;
}

.chunk{
	/*border:1px #aaa solid;*/
	padding:0px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.chunk-thin{
/*	border-top: 1px #ccc solid;*/
	padding:0px;
	margin:0px;
	margin-top: 10px;
	padding-top:10px;
	margin-bottom:10px;
}


.portlets-rhs{

	float:right;
	margin:10px;
	padding: 0px;
	margin-top: 0px;
	margin-right:0px;
	
	width: 200px;
	background: #efefef;
	
}

/* IMAGE RELATED THINGS*/
IMG {
	border:0px;
	vertical-align: middle;

}

/* OTHER STUFF */

.itemtitle
{
	margin-top: 5px;
	font-weight: bold;
	color: #111111;
}

.project-title{
	font-size: 18px;
	vertical-align:middle;
	
}

.project-strapline{
	font-size: 14px;
	margin-bottom:4px;
	font-style:italic;
	font-weight: bold;
	
}



#shortname{
	color: red;
}

.small{
	font-size: 10px;
	color: #666666;
}

.dateheader
{
	margin: 3px 0px 0px 0px;
	text-align: left;
	color: #442211;
	font-style: italic;
}

/* various sizes for tagclouds */

.tag-1
{
	font-size: 28px;
	line-height: 24px;
	font-weight: bold;
}

.tag-2{
font-size: 24px;
line-height: 20px;
font-weight: bold;
}

.tag-3{
font-size: 16px;
font-weight: bold;
}

.tag-4{
font-size: 14px;
font-weight: normal;
}

.tag-5{
font-size: 10px;
font-weight: normal;
}

.quickedit td {
	border-top: 1px #aaaaaa solid;
	border-right: 1px #aaaaaa solid;
}

.blankfield , .inplaceeditor-empty{
	font-size: 1em;
	font-style: italic;
	color: #666666;
}

.ipe{
	display:block;
	width:100%;
	font-size: inherit;
	margin:0;
	padding:0;
}

.ipe input{
	width:90%;
	font-size: inherit;
	border:1px solid #781351;
	background:none;
	background-color: #efefef;
}

.ipe textarea{
	width:95%;
	height: 200px;
	font-size: inherit;
	border:none;
	background:none;
}

.project{
	border:1px #aaa solid;
	margin:3px;
	padding:3px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.rss-ignore-feed, .rss-feed, .rss-homepage, .rss-discovered{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin:1px;
	padding:1px;
	font-weight:bold;
}

.rss-ignore-feed{
	background-color: #ff6666;
}

.rss-feed{
	background-color: #ffaa66;

}

.rss-homepage{
	background-color: #6666ff;
	color:white;

}

.rss-discovered{
	background-color: #eeffee;
	margin-left:20px;
	color:black;
}

.comment{

margin-bottom:10px;
margin-top:3px;

}

#newstandard{
	width:200px;
}


div.autocomplete
{
	position: absolute;
	background-color: white;
	border: 1px solid #888;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
  font-size:10px;
  border-bottom:1px solid #eee;
}
div.autocomplete ul li.selected { background-color: #ccf;}
div.autocomplete ul li
{
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
	height: 12px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}

.fullwidth{
	width:100%;
}

td{
	vertical-align:top;
	font-size:100%;
}

.nodisplay {
   display:none;
}

div#projectForm
{
  margin: 0px 20px 0px 20px;
  display: none;
}

.query-subheading{
	font-family: georgia,times,serif;
	font-size: 38px;
	margin-top:20px;
	line-height:42px;
	color: #999;
}

.fundingbar-outer{
	width:105px;
	height:9px;
	border:1px solid #aaa;
	display:inline-block;
}

.fundingbar-inner{
	display:inline-block;
	height:9px;
	border-right:1px solid #0e0;
	background-color:#5f5;
	overflow:hidden;
}

.activity-item{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border-color:#ccc;
	border-style:solid;
	border-width:1px;
	
	background-color: #f3f3f3;
	margin-top:2px;
	margin-bottom:2px;
		padding:5px;
	padding-left:38px;


}

.activity-item .icon{
	position:absolute;
	margin-left:-32px;
	margin-top:6px;
}



#fp-table{
	width:100%;
}

#fp-table td{
	text-align:left;
	vertical-align:top;
	padding-bottom:20px;
}

.fp-table-leftcolumn{
	width:64px;
}

.admin{

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border-color:#ccc;
	border-style:solid;
	border-width:1px;
	
	background-color: #ffaaaa;
	margin-top:2px;
	margin-bottom:2px;
	padding:5px;


}

#querybuilder{
	border: 1px #b0b0b0 solid;
	padding:5px;
}

.queryline{
	border-bottom: 1px solid #f0f0f0;
}

.skip {
height: 0;
width: 0;
overflow: hidden;
position: absolute; /* for the benefit of IE5 Mac */
}